<div class="rules">
	<div class="rule">
		<div class="box green"></div>
		<div class="heading">Good (0 - 50) Air quality is considered satisfactory, and air pollution poses little or no risk.</div>
	</div>
	<div class="rule">
		<div class="box yellow"></div>
		<div class="heading">Moderate (51 - 100) Air quality is acceptable; however, for some pollutants there may be a moderate health concern for a very small number of people who are unusually sensitive to air pollution.
		</div>
	</div>
	<div class="rule">
		<div class="box orange"></div>
		<div class="heading">Unhealthy for Sensitive Groups (101 - 150) 
			Although general public is not likely to be affected at this AQI range, people with lung disease, older adults and children are at a greater risk from exposure to ozone, whereas persons with heart and lung disease, older adults and children are at greater risk from the presence of particles in the air.
        </div>
	</div>
	<div class="rule">
		<div class="box red"></div>
		<div class="heading">Unhealthy (151 - 200) 
Everyone may begin to experience health effects; members of sensitive groups may experience more serious health effects.</div>
	</div>
	<div class="rule">
		<div class="box purple"></div>
		<div class="heading">Very Unhealthy (201 - 300)
Health alert: everyone may experience more serious health effects.</div>
	</div>
	<div class="rule">
		<div class="box maroon"></div>
		<div class="heading">Hazardous (301 - 500)
Health warnings of emergency conditions. The entire population is more likely to be affected.</div>
	</div>
</div>