<div class="cards <%#= @api_color %>">
  
  <div class="card">
    <h2>California Air Quality Index <%= @final_output %> </h2>
    <p><%= @api_description %></p>
  </div>
  
  <div class="card">
    <%= render 'navbar'%>
  </div>
</div>
<%= render 'rules' %>