<div class="card">
  <h5 class="card-header">Ozone Air</h5>
  <div class="card-body <%= @api_color %>">
    <h5 class="card-title"><%= @final_output %></h5>
    <p class="card-text">This is the current Ozone air quality for my neighborhood in Bijnor</p>
    <a href="#" class="btn btn-secondary">Go somewhere</a>
  </div>
</div>
